{% extends "base.html" %}
{% block content %}
<h3>Reports</h3>
<div class="row">
  <div class="col-md-6">
    <div class="card p-3 mb-3">
      <h5>Attendance Summary</h5>
      <table class="table">
        <thead class="table-dark"><tr><th>Student</th><th>Present</th><th>Total</th><th>%</th></tr></thead>
        <tbody>
        {% for r in att_summary %}
        <tr><td>{{ r.name }}</td><td>{{ r.present }}</td><td>{{ r.total }}</td><td>{{ r.percent if r.percent != None else '-' }}</td></tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card p-3 mb-3">
      <h5>Marks Summary</h5>
      <table class="table">
        <thead class="table-dark"><tr><th>Student</th><th>Sum</th><th>Max</th><th>%</th></tr></thead>
        <tbody>
        {% for r in marks_summary %}
          <tr><td>{{ r.name }}</td><td>{{ r.sum_marks }}</td><td>{{ r.sum_max }}</td><td>{{ r.percent if r.percent != None else '-' }}</td></tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
